<div class="container">
  <h1>RESTAURANTS</h1>
    <ul class="list-group restaurants">
    <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
    <div class="icons">
    <div class="review"><%= link_to "Write a review", new_restaurant_review_path(restaurant) %></div>
    <%= link_to '<i class="fas fa-edit" style="font-size:12px;"></i>'.html_safe, edit_restaurant_path(restaurant.id) %>
    <%= link_to '<i class="fas fa-trash-alt" style="font-size:12px;"></i>'.html_safe, restaurant_path(restaurant),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    </li>
    <% end %>
    </ul>
    <button class="btn btn-primary"><%= link_to "Create Restaurant", new_restaurant_path %></button>
  </div>
</div>
